# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask specific
instance/
.webassets-cache

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.noseids
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.pydevproject
*.pyc
*.bak
*.swp
*~.nib
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/


.env
database.db